
<div class="col-md-5 col-md-offset-3">

  <ng-include  src="'/furiaDescarga/views/mensagens/msgLogin.html'"></ng-include>

  <form id="form-login">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="">Formulário de login</h3>
      </div>

      <div class="panel-body">


        <div class="row">


          <div class="form-group col-md-6 col-md-offset-3">

            <label for="form-username">Login</label>
            <input type="text" class="form-control" id="form-username" placeholder="login" ng-model="usuario.username">

          </div>

        </div>


        <div class="row">

          <div class="form-group col-md-6 col-md-offset-3">

            <label for="form-senha">Senha</label>
            <input type="password" class="form-control" id="form-senha" placeholder="Senha" ng-model="usuario.password">

          </div>

        </div>


        <div class="row">

          <div class="form-group col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-success btn-block" ng-click="login(usuario)">Entrar</button>
          </div>

        </div>



      </div>
    </div>



  </form>

</div>
