<div class="col-md-2 menu">

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#abrir-menu">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="abrir-menu">
      <ul class="nav">
        <li>
          <div class="col-xs-12 col-md-12 menu-user">
            <figure>
              <div class="btn-group">
                <a  class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="images/people.png" alt="menu do usuario" class="img-circle " id="img-user">
                  <figcaption>Murillo Costa</figcaption>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Murillo</a></li>
                  <li><a href="#">Murillo</a></li>
                  <li><a href="#">Murillo</a></li>

                </ul>
              </div>

            </figure>

          </div>
        </li>


      </ul>

      <ul class="nav nav-pills nav-stacked menu-principal">

        <li>
          <a href="" ui-sref="jogador"><i class="glyphicon glyphicon-user"></i> Jogador</a>
        </li>


        <li>
          <a href="" ui-sref="rodada"><img src="images/img_rodada.png" alt="" /> Rodada</a>
        </li>

        <li>
          <a href="" ui-sref="regra"><i class="glyphicon glyphicon-cog"></i>Configurar Regras</a>
        </li>

      </ul>


    </div>

  </nav>
</div>
