<ng-include src="'/furiaDescarga/views/menu.html'"></ng-include>


<div class="col-md-9 main" id="jogador-main">
  <ng-include src="'/furiaDescarga/views/mensagens/msgJogador.html'"></ng-include>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="titulo-panel">Jogadores</h3>
      </div>
      <div class="panel-body">

          <ng-include src="'/furiaDescarga/views/jogador/salvarJogador.html'"></ng-include>

          <ng-include src="'/furiaDescarga/views/jogador/listaJogador.html'"></ng-include>
      </div>
    </div>
  </div>

</div>
