<div class="row">
  <div class="col-md-12 table-responsive">

  <table class="table table-responsive table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Nome do Jogador</th>
        <th>Nome do Time</th>
        <th>Débito</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="jog in vm.jogadores">
        <td>{{jog.nome_jogador}}</td>
        <td>{{jog.nome_time}}</td>
        <td</td>
        <td>
          <button type="button" class="btn btn-warning" ng-click="vm.carregarEditar(jog)"><i class="glyphicon glyphicon-pencil"></i></button>
          <button type="button" class="btn btn-danger" ng-click="vm.excluirJogador(jog.id)"><i class="glyphicon glyphicon-trash" ></i></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
